/* ✅ BoardList.module.css */

.boardList {
  display: flex;
  flex-direction: column;
}

.emptyMessage {
  text-align: center;
  font-size: 1.2rem;
  color: var(--stroke-color1); /* 또는 #888 같이 연한 색 */
  margin-top: 2rem;
}
