.commentSection {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 40px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.writeWrapper {
  margin-bottom: 20px;
}

.commentCount {
  font-weight: bold;
  font-size: 18px;
  margin-left: 5px;
  display: block;
  margin-bottom: 10px;
}

.countNum {
  color: var(--main-color);
}

.commentList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
