<!-- src/main/resources/mappers/AdminMapper.xml -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.admin.model.mapper.AdminMapper">

    <select id="findByAdminId" >
        SELECT *
        FROM ADMIN
        WHERE ADMIN_ID = #{adminId}
    </select>

</mapper>
