<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.example.demo.member.company.model.mapper.CorpInfoMapper">

    <resultMap id="corpInfoResultMap" type="com.example.demo.member.company.model.dto.CorpInfo">
        <id property="corpNo" column="CORP_NO"/>
        <result property="corpRegNo" column="CORP_REG_NO"/>
        <result property="corpType" column="CORP_TYPE"/>
        <result property="corpName" column="CORP_NAME"/>
        <result property="corpLogo" column="CORP_LOGO"/>
        <result property="corpCeoName" column="CORP_CEO_NAME"/>
        <result property="corpAddr" column="CORP_ADDR"/>
        <result property="corpOpenDate" column="CORP_OPEN_DATE"/>
        <result property="corpHomeLink" column="CORP_HOME_LINK"/>
        <result property="corpBm" column="CORP_BM"/>
        <result property="corpDetail" column="CORP_DETAIL"/>
        <result property="corpBenefit" column="CORP_BENEFIT"/>
        <result property="corpBenefitDetail" column="CORP_BENEFIT_DETAIL"/>
        <result property="corpBanFl" column="CORP_BAN_FL"/>
        <result property="corpBanDate" column="CORP_BAN_DATE"/>
        
        <result property="recruitCount" column="RECRUIT_COUNT"/>
        <result property="views" column="TOTAL_VIEWS"/>
        <result property="favs" column="TOTAL_FAVS"/>
    </resultMap>

 
<select id="selectCorpListWithRecruitInfo" resultType="CorpInfo">
SELECT 
    ci.*,
    (SELECT COUNT(*) 
     FROM FAV_CORP fc 
     WHERE fc.CORP_NO = ci.CORP_NO) AS favs,
    (SELECT COUNT(*) 
     FROM FAV_CORP fc 
     WHERE fc.CORP_NO = ci.CORP_NO AND fc.MEM_NO = #{memNo}) AS isSaved
FROM CORP_INFO ci
<where>
    <if test="query != null and query != ''">
        ci.CORP_NAME LIKE CONCAT('%', #{query}, '%')
    </if>
</where>
</select>





<select id="selectCorpDetail" resultMap="corpInfoResultMap" parameterType="map">
SELECT 
    ci.*,
    (SELECT COUNT(*) 
     FROM FAV_CORP fc 
     WHERE fc.CORP_NO = ci.CORP_NO) AS TOTAL_FAVS,
    (SELECT COUNT(*) 
     FROM FAV_CORP fc 
     WHERE fc.CORP_NO = ci.CORP_NO AND fc.MEM_NO = #{memNo}) AS IS_SAVED,
    COALESCE((
        SELECT SUM(r.RECRUIT_READCOUNT)
        FROM RECRUIT r
        JOIN CORP_MEM cm ON cm.MEM_NO = r.MEM_NO
        WHERE cm.CORP_NO = ci.CORP_NO
    ), 0) AS TOTAL_VIEWS
FROM CORP_INFO ci
WHERE ci.CORP_NO = #{corpNo}
</select>


  

</mapper>
