<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.example.demo.myPage.membership.model.mapper.MembershipMapper">

<select id="getMembershipList">
SELECT * FROM "MEMBER_GRADE"
</select>

<select id="getSubscription">
SELECT * 
FROM "SUBSCRIPTION" 
WHERE MEM_NO = #{memNo}
</select>

</mapper>
