<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.example.demo.auth.model.mapper.MemberMapper">

<!-- 로그인 회원의 정보 조회 -->
<select id="getLoginMember">
	SELECT
	  MEM_NO,
	  MEM_NICKNAME,
	  MEM_NAME,
	  MEM_TEL,
	  MEM_EMAIL,
	  MEM_BIRTHDAY,
	  MEM_GENDER,
	  MEM_ADDR,
	  MEM_SMS_FL,
	  MEM_TYPE,
	  MEM_STATUS,
	  MEM_STATUS_DATE,
	  MEM_PROFILE_PATH,
	  MEM_GRADE
	FROM MEMBER
	WHERE MEM_NO = #{memNo}
</select>

<!-- 기업회원용 로그인 정보 조회 (CORP_NO 포함) -->
<select id="getCorpLoginMember">
SELECT 
    M.MEM_NO,
    M.MEM_EMAIL,
    M.MEM_NICKNAME,
    M.MEM_TYPE,
    CM.CORP_NO
FROM MEMBER M
LEFT JOIN CORP_MEM CM ON M.MEM_NO = CM.MEM_NO
WHERE M.MEM_NO = #{memNo}
</select>

<!-- 기업회원 corpNo 조회 -->
<select id="getCorpNoByMemNo" resultType="int">
    SELECT CORP_NO
    FROM CORP_MEM
    WHERE MEM_NO = #{memNo}
</select>


</mapper>
