<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.example.demo.auth.model.mapper.MemberMapper">

<!-- 로그인 회원의 정보 조회 -->
<select id="getLoginMember">
	SELECT
	  MEM_ID,
	  MEM_NO,
	  MEM_NICKNAME,
	  MEM_NAME,
	  MEM_TEL,
	  MEM_EMAIL,
	  MEM_BIRTHDAY,
	  MEM_GENDER,
	  MEM_ADDR,
	  MEM_SMS_FL,
	  MEM_TYPE,
	  MEM_STATUS,
	  MEM_STATUS_DATE,
	  MEM_PROFILE_PATH,
	  MEM_GRADE
	FROM MEMBER
	WHERE MEM_NO = #{memNo}
</select>
 
 <!-- 탈퇴 회원 처리 -->
 <delete id="withdrawMember">
  DELETE FROM MEMBER
  WHERE MEM_STATUS = 1
	AND MEM_STATUS_DATE <![CDATA[ < ]]> DATE_ADD(NOW(), INTERVAL -#{deleteTargetPeriod} DAY)
 </delete>

 <!-- 사용중인 이미지 조회(스케줄러) -->
 <select id="selectUsedImage">
  SELECT MEM_PROFILE_PATH
  FROM MEMBER
  WHERE MEM_PROFILE_PATH IS NOT NULL
 </select>

</mapper>
