<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.example.demo.myPage.payment.model.mapper.PaymentMapper">

<!-- 유효한 빌링키 조회 : 없다면 신규 빌링키를 발급받도록 -->
<select id="getBillingKey">
SELECT BILLING_KEY
FROM "BILLING_KEY"
WHERE MEM_NO = #{memNo}
</select>

<!-- 발급받은 빌링키 저장 -->
<insert id="insertBillingKey">
INSERT INTO "BILLING_KEY" (
    "BILLING_KEY",
    "BILLING_METHOD",
    "CARD_COMPANY",
    "CARD_NUMBER",
    "CARD_TYPE",
    "OWNER_TYPE",
    "ISSUER_CODE",
    "ACQUIRER_CODE",
    "AUTHENTICATED_AT",
    "MEM_NO",
    "MID"
) VALUES (
    #{billingKey},
    #{billingMethod},
    #{cardCompany},
    #{cardNumber},
    #{cardType},
    #{ownerType},
    #{issuerCode},
    #{acquirerCode},
    CAST(TO_TIMESTAMP_TZ(#{authenticatedAt}, 'YYYY-MM-DD"T"HH24:MI:SS TZH:TZM') AS DATE),
    #{memNo},
    #{mId}
)
</insert>

<!-- 결제 내역 저장 -->
<insert id="insertPayment">
INSERT INTO PAYMENT (
    ORDER_ID,
    ORDER_NAME,
    PAYMENT_KEY,
    MEM_NO,
    TOTAL_AMOUNT,
    BALANCE_AMOUNT,
    CURRENCY,
    COUNTRY,
    PAY_TYPE,
    STATUS,
    REQUESTED_AT,
    APPROVED_AT,
    CANCELS,
    FAILURE
) VALUES (
    #{orderId},
    #{orderName},
    #{paymentKey},
    #{memNo},
    #{totalAmount},
    #{balanceAmount},
    #{currency},
    #{country},
    #{payType},
    #{status},
    CAST(TO_TIMESTAMP_TZ(#{requestedAt}, 'YYYY-MM-DD"T"HH24:MI:SSTZH:TZM') AS DATE),
    CAST(TO_TIMESTAMP_TZ(#{approvedAt}, 'YYYY-MM-DD"T"HH24:MI:SSTZH:TZM') AS DATE),
    #{cancels},
    #{failure}
)
</insert>

<!-- 구독중인 서비스 조회 -->
<select id="selectSubscription">	
SELECT
  MG.MEM_GRADE_NAME
FROM SUBSCRIPTION S
JOIN MEMBER_GRADE MG ON S.MEM_GRADE = MG.MEM_GRADE
WHERE S.MEM_NO = #{memNo}
</select>

<!-- 구독중인 서비스 수정 -->
<update id="updateSubscription">
UPDATE SUBSCRIPTION
SET MEM_GRADE = (
    SELECT MEM_GRADE
    FROM MEMBER_GRADE
    WHERE MEM_GRADE_NAME = #{orderName}
),
    SUB_END_AT = TRUNC(ADD_MONTHS(TRUNC(SYSDATE), 1) - 1),
    SUB_UPDATE_AT = SYSDATE,
    SUB_PAY_AT = TRUNC(SYSDATE),
    SUB_STATUS = #{status}
WHERE MEM_NO = #{memNo}
</update>


<!-- 신규 구독 삽입 -->
<insert id="insertSubscription">
INSERT INTO SUBSCRIPTION (
  SUB_NO,
  MEM_GRADE,
  MEM_NO,
  SUB_START_AT,
  SUB_END_AT,
  SUB_UPDATE_AT,
  SUB_PAY_AT,
  SUB_STATUS
)
VALUES (
  SUBSCRIPTION_SEQ.NEXTVAL,
  (SELECT MEM_GRADE
   FROM MEMBER_GRADE
   WHERE MEM_GRADE_NAME = #{orderName}),
  #{memNo},
  TRUNC(SYSDATE),
  ADD_MONTHS(TRUNC(SYSDATE), 1) - 1,
  SYSDATE,
  TRUNC(SYSDATE),
  #{status}
)
</insert>

<!-- 사용자 등급 수정 -->
<update id="updateMemGrade" parameterType="map">
UPDATE MEMBER
SET MEM_GRADE = (
  SELECT MEM_GRADE
  FROM MEMBER_GRADE
  WHERE MEM_GRADE_NAME = #{orderName}
)
WHERE MEM_NO = #{memNo}
</update>

<!-- 환불 잔액 조회 -->
<select id="selectBalanceAmount">
SELECT 
  LEAST(
    mg.MEM_GRADE_PRICE,
    TRUNC(
      GREATEST((TRUNC(s.SUB_END_AT) - TRUNC(SYSDATE)) + 1, 0) 
      * (mg.MEM_GRADE_PRICE / GREATEST((TRUNC(s.SUB_END_AT) - TRUNC(s.SUB_UPDATE_AT)), 1))
    )
  ) AS REFUND_AMOUNT
FROM "SUBSCRIPTION" s
JOIN "MEMBER" m ON s.MEM_NO = m.MEM_NO
JOIN "MEMBER_GRADE" mg ON m.MEM_GRADE = mg.MEM_GRADE
WHERE s.MEM_NO = #{memNo}
</select>

<!-- 구독 등급 다운그레이드 -->
<update id="downgradeSubscription">
UPDATE "SUBSCRIPTION"
SET MEM_GRADE = #{newGrade},
    SUB_UPDATE_AT = SYSDATE,
    SUB_STATUS = 1
WHERE MEM_NO = #{memNo}
</update>

<!-- 멤버십 명칭 조회 -->
<select id="getOrderName">
SELECT MEM_GRADE_NAME
FROM "MEMBER_GRADE"
WHERE MEM_GRADE = #{newGrade}
</select>

<!-- 멤버십 변경 적용 -->
<update id="changeMembership">
UPDATE "MEMBER"
SET MEM_GRADE = #{memGrade}
WHERE MEM_NO = #{memNo}
</update>

<!-- 멤버십 복구 -->
<update id="restoreSubscription">
UPDATE "SUBSCRIPTION"
SET MEM_GRADE = (
      SELECT MEM_GRADE
      FROM "MEMBER"
      WHERE MEM_NO = #{memNo}
    ),
    SUB_STATUS = 0
WHERE MEM_NO = #{memNo}
</update>

<!-- 결제 상태 변경 -->
<update id="changeSubscriptionStatus">
UPDATE "SUBSCRIPTION"
SET SUB_STATUS = 2
WHERE SUB_END_AT = TRUNC(SYSDATE) - 1
AND SUB_STATUS = 0
AND MEM_GRADE != 0
</update>

<!-- 결제 상태 변경 -->
<update id="changeSubscription">
UPDATE "SUBSCRIPTION"
SET SUB_STATUS = 0
WHERE MEM_NO = #{memNo}
AND SUB_STATUS = 1
</update>

<!-- 미납자 조회 -->
<select id="selectUnpaidMembers">
SELECT MEM_NO, MEM_EMAIL, MEM_NAME
FROM "MEMBER"
WHERE MEM_NO IN (
  SELECT MEM_NO
  FROM "SUBSCRIPTION"
  WHERE SUB_STATUS = 2
)
</select>

<!-- 미납자의 결제 대상 멤버십 정보 조회 -->
<select id="selectMembership">
SELECT MEM_GRADE_NAME, MEM_GRADE_PRICE
FROM "MEMBER_GRADE"
WHERE MEM_GRADE = (
  SELECT MEM_GRADE
  FROM "SUBSCRIPTION"
  WHERE MEM_NO = #{memNo}
)
</select>

<!-- 등급 변경 대상 조회 -->
<select id="selectTargetSubscription">
SELECT MEM_NO, MEM_GRADE
FROM "SUBSCRIPTION"
WHERE SUB_END_AT = TRUNC(SYSDATE) - 1
AND SUB_STATUS = 1
</select>

</mapper>
