<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.example.demo.support.model.mapper.SupportMapper">
	 <resultMap id="supportResultMap" type="com.example.demo.support.model.dto.Support">
        <id property="supportNo" column="supportNo"/>
        <result property="supportTitle" column="supportTitle"/>
        <result property="supportContent" column="supportContent"/>
        <result property="supportAnswer" column="supportAnswer"/>
        <result property="supportStatus" column="supportStatus"/>
        <result property="memNo" column="memNo"/>
        <result property="adminNo" column="adminNo"/>
        <result property="supportCategoryCode" column="supportCategoryCode"/>
        <result property="supportCategoryName" column="supportCategoryName"/>
    </resultMap>

    <select id="selectSupportList" resultMap="supportResultMap">
        SELECT 
            S.SUPPORT_NO AS supportNo,
            S.SUPPORT_CONTENT AS supportContent,
            S.SUPPORT_ANSWER AS supportAnswer,
            S.SUPPORT_STATUS AS supportStatus,
            S.MEM_NO AS memNo,
            S.ADMIN_NO AS adminNo,
            C.SUPPORT_CATEGORY_NAME AS supportCategoryName,
            S.SUPPORT_CATEGORY_CODE AS supportCategoryCode
        FROM SUPPORT S
        JOIN SUPPORT_CATEGORY C ON S.SUPPORT_CATEGORY_CODE = C.SUPPORT_CATEGORY_CODE
        ORDER BY S.SUPPORT_NO DESC
    </select>

    <select id="selectSupportById" parameterType="int" resultMap="supportResultMap">
        SELECT 
            S.SUPPORT_NO AS supportNo,
            S.SUPPORT_CONTENT AS supportContent,
            S.SUPPORT_ANSWER AS supportAnswer,
            S.SUPPORT_STATUS AS supportStatus,
            S.MEM_NO AS memNo,
            S.ADMIN_NO AS adminNo,
            C.SUPPORT_CATEGORY_NAME AS supportCategoryName,
            S.SUPPORT_CATEGORY_CODE AS supportCategoryCode
        FROM SUPPORT S
        JOIN SUPPORT_CATEGORY C ON S.SUPPORT_CATEGORY_CODE = C.SUPPORT_CATEGORY_CODE
        WHERE S.SUPPORT_NO = #{id}
    </select>

    <insert id="insertSupport" parameterType="com.example.demo.support.model.dto.Support">
        INSERT INTO SUPPORT (
            SUPPORT_NO,
            SUPPORT_CATEGORY_CODE,
            SUPPORT_TITLE,    
            SUPPORT_CONTENT,
            SUPPORT_STATUS,
            MEM_NO,
            ADMIN_NO,
            SUPPORT_ANSWER
        ) VALUES (
            SUPPORT_SEQ.NEXTVAL,
            #{supportCategoryCode},
            #{supportTitle},  
            #{supportContent},
            'N',
            #{memNo},
            NULL,
            NULL
        )
    </insert>
</mapper>