/* 메인 레이아웃 */
.corpmypage-container {
  display: flex;
  height: 100%;
  min-height: 720px;
  margin: 0 auto;
  position: relative;
}

/* 메인 콘텐츠 */
.corpmypage-content {
  display: flex;
  flex-direction: row;
  justify-content: center;

  flex: 1;
  max-width: 1080px;
  margin: 0 auto;
}
