.company-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
}

.section-header-with-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--stroke-color1);
}

.company-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
