.company-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
}

.section-header-with-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--stroke-color1);
}

.company-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center; /* ← 또는 flex-start, 안전하게 정렬 */
  box-sizing: border-box;
  padding: 0 12px;
}
