/* SearchResultPage.css */
.search-container {
  max-width: 1200px;
  margin: 0 auto;
}

.search-tabs {
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid var(--img-color);
  width: 100%;
  max-width: 1200px; /* container 기준 */
  margin: 20px auto;
}

.search-tabs a {
  text-align: center;
  flex: 1;
  padding: 10px 0;
  text-decoration: none;
  color: var(--deep-gray);
  background-color: #f3f3f3;
  font-weight: bold;
  transition: all 0.3s;
}

.search-tabs a.active {
  background-color: #32b9b0;
  color: var(--white);
  flex: 7;
}

.search-tabs a:not(.active) {
  flex: 3;
}

h2 {
  font-size: 24px;
  margin: 20px 0;
}

.company-grid,
.recruit-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* 각 필터 간격 */
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 1200px;
}

.select-controls {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid var(--img-color);
  border-radius: 6px;
  background-color: var(--white);
  min-width: 120px;
  height: 38px;
}
