.cvItem {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px 24px;
  margin: 16px auto;
  max-width: 1000px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cvTitle {
  font-size: 18px;
  font-weight: 600;
  margin-top: 16px;
  color: #333;
}

.cvActions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-left: auto;
}

.cvButton {
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease;
}
.cvButton i {
  margin-right: 4px;
}
.submitButton {
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease;
}

.submitButton:hover {
  color: var(--main-color-dark);
}

.editButton {
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  font-size: 14px;
}

.editButton:hover {
  color: var(--main-color-dark);
}

.deleteButton {
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  color: var(--black);
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  font-size: 14px;
}

.deleteButton:hover {
  color: var(--main-color-dark);
}
