.removeBtn {
    position: absolute;
    top: 8px;
    left: -40px;
    background-color: var(--main-color);
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
}

.removeIcon {
    color: var(--white);
}