.recruitList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px;
}

.empty {
  text-align: center;
  font-size: 1rem;
  color: var(--gray01);
  padding: 40px 0;
}
