.float-button-container {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  border-radius: 999px;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--stroke-color1);
  gap: 12px;
}

/* 추가: 공통 버튼 스타일 */
.float-btn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 16px;
  color: var(--text-color);
}

/* .float-button-container .float-btn-cancel,
.float-button-container .float-btn-edit {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 16px;
  color: var(--text-color);
}

.float-button-container .float-btn-cancel {
  border-right: 1px solid var(--stroke-color1);
}

.float-btn-cancel:hover,
.float-btn-edit:hover {
  color: var(--main-color-dark);
} */
