.float-button-container {
  position: sticky;
  bottom: 40px;
  margin: 16px auto; /* 가운데 정렬 */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 999px;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--stroke-color1);
  gap: 12px;
  width: fit-content;
  margin-top: 40px;
  overflow: hidden;
  z-index: 1000;
}

.float-btn {
  bottom: 0;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 8px 16px;
  color: var(--text-color);
  background-color: var(--white);
}

.float-btn i,
.float-btn span.material-symbols-outlined {
  color: inherit;
}

.float-btn:hover {
  color: var(--main-color);
}

/* 비활성화된 버튼 스타일 */
.float-btn:disabled {
  opacity: 0.5; /* 버튼을 전체적으로 반투명하게 만들어 아이콘과 글씨가 연해 보이게 합니다. */
  cursor: not-allowed; /* 커서 모양은 그대로 유지합니다. */
  transform: none;
  background-color: transparent;
}

.float-btn:disabled:hover {
  background-color: transparent;
}
