.mainPage {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.topSection {
  display: flex;
  gap: 30px;
}

.bottomSection {
  display: flex;
  gap: 30px;
}

.chartBox {
  flex: 1;
}

.infoBox {
  flex: 1;
}

.supportBox {
  flex: 1;
}

.reportBox {
  flex: 1;
}
