.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 14px;
}

.table th,
.table td {
  border-bottom: 1px solid var(--stroke-color2);
  padding: 12px;
  text-align: center;
}

.table th {
  background-color: var(--white);
  font-weight: bold;
}

.table tbody tr:hover {
  background-color: var(--input-color);
  cursor: pointer;
}

.table button {
  padding: 6px 12px;
  background-color: var(--main-color);
  border: none;
  color: var(--white);
  border-radius: 6px;
  cursor: pointer;
}

.table button:hover {
  background-color: var(--main-color-dark);
}
